<!DOCTYPE html>
<html>
<head>
    <title>Winkkari</title>
</head>
<body>

<h1>Edit videotip</h1>

<span th:text="${tip.title}">title</span>
<form th:action="@{~/api/tip/editvideo/{id}(id=${tip.id})}" method="POST">
    Title: <br/>
    <input type="text" name="title" th:value="${tip.title}"/><br/>
    URL: <br/>
    <input type="text" name="url" th:value="${tip.url}"/><br/>
    Comment: <br/>
    <input type="text" name="comment" th:value="${tip.comment}"/><br/>
    <br/>
    <input type="submit" name="submit"/>
</form>

</body>
</html>
