<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Winkkari</title>
</head>
<body>

<h1>All tips</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author/URL</th>
        <th>Checked</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tips.empty}">
        <td colspan="2">No tips available :c</td>
    </tr>
    <tr th:each="tip : ${tips}">
        <td>
            <span th:text="${tip.title}">Title</span>
        </td>
        <td>
            <span th:if="${tip.type.name() == 'BOOK'}" th:text="${tip.author}">Author</span>
            <span th:if="${tip.type.name() == 'LINK'}" th:text="${tip.url}">Author</span>
        </td>
        <td>
            <input type="checkbox" name="check" value="check"><br>
        </td>
        <td>
            <form th:action="@{~/api/tip/delete/{id}(id=${tip.id},type=${tip.type.name()})}" method="post">
                <input name="Delete" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/new">Add a new tip</a>

</body>
</html>
