<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Winkkari</title>
</head>
<body>


<h1>Tips</h1>
<form th:action="@{~/list/}">
    <select name="search">
        <option th:value="'all'" th:text="All" selected></option>
        <option th:value="'BOOK'" th:text="Books"></option>
        <option th:value="'LINK'" th:text="Links"></option>
        <option th:value="'VIDEO'" th:text="Videos"></option>
    </select>
    <br><br>
    <input type="submit" value="Search">
</form>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author/URL</th>
        <th>Checked</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tips.empty}">
        <td colspan="2">No tips available :c</td>
    </tr>
    <tr th:each="tip : ${tips}">
        <td>
            <span th:text="${tip.title}">Title</span>
        </td>
        <td>
            <span th:if="${tip.type.name() == 'BOOK'}" th:text="${tip.author}">Author</span>
            <span th:if="${tip.type.name() == 'LINK'}" th:text="${tip.url}">URL</span>
            <span th:if="${tip.type.name() == 'VIDEO'}" th:text="${tip.url}">URL</span>
        </td>
        <td>
            <form th:action="@{~/api/tip/check/{id}(id=${tip.id},type=${tip.type.name()},check=${tip.check})}"
                  method="post">
                <input th:if="${tip.check}" name="Check" type="submit" value="Checked!"/>
                <input th:unless="${tip.check}" name="Check" type="submit" value="Not yet checked"/>
            </form>
        </td>
        <td>
            <form th:action="@{~/api/tip/delete/{id}(id=${tip.id},type=${tip.type.name()})}"
                  method="post">
                <input name="Delete" type="submit" value="Delete"/>
            </form>
        </td>
        <td>
            <a th:if="${tip.type.name() == 'BOOK'}" th:href="@{~/editbook/{id}(id=${tip.id})}">Edit this Booktip!</a>
            <a th:if="${tip.type.name() == 'LINK'}" th:href="@{~/editlink/{id}(id=${tip.id})}">Edit this Linktip!</a>
            <a th:if="${tip.type.name() == 'VIDEO'}" th:href="@{~/editvideo/{id}(id=${tip.id})}">Edit this Videotip!</a>
        </td>
    </tr>
    </tbody>
</table>


<p>Add a new: </p>
<ul style="list-style-type:none;">
    <li><a href="/newbook">book tip</a></li>
    <li><a href="/newvideo">video tip</a></li>
    <li><a href="/newlink">link tip</a></li>
</ul>




</body>
</html>
